.cursor {
    cursor: pointer;
    color: white
}

.logout {
    text-decoration: none;
    color: #fff;
  }

.cor {
    background-color: #B4918F !important;
}

.text-decoration-none {
    text-decoration: none;
}