.imagem{
  background-image: url(https://www.looper.com/img/gallery/questionable-things-we-ignore-in-the-star-wars-franchise/l-intro-1626242861.jpg);
  background-repeat: 'no-repeat';
  width: 100vh; 
  min-height: 100vh;
  background-size: cover;
   background-position: center;
  }
  
  .text-decoration-none {
    text-decoration: none;
  }