.box1 {
    background-color: #B4918F;
    height: 120px;
}

.box2 {
    background-color: #B4918F; 
    height: 60px
}

.redes {
    font-size: 60px !important;
    color: white;
}

.textos {
    color: white;
}

